extends master.pug

block content
  .container.mt-5
    h1(class="login-register") Inscription

    //- Gestion des erreurs si existantes
    if errors
        div.alert.alert-danger
            each error, index in errors
                | #{error} <br>
    //- =================================

    form(method="post" action="/register")
        div(class="form-group")
            input(type="text" class="form-control" id="nom" name="firstname" placeholder="Entrez votre nom")
        div(class="form-group")
            input(type="text" class="form-control" id="Prénom" name="lastname" placeholder="Entrez votre prénom")
        div(class="form-group")
            input(type="email" class="form-control" id="Email" aria-describedby="emailHelp" name="email" placeholder="Entrez votre adresse email")
        div(class="form-group")
            input(type="password" class="form-control" id="Password1" name="pwd1" placeholder="Entrez votre mot de passe")
        div(class="form-group")
            input(type="password" class="form-control" id="Password2" name="pwd2" placeholder="Retapez votre mot de passe")
        button(type="submit" class="btn btn-primary") Confirmer
    if err
        p There is a #{err}