extends master.pug

block content
  .container.mt-5
    h1(class="login-register") Inscription
    form
        div(class="form-group")
            input(type="text" class="form-control" id="nom"  placeholder="Entrez votre nom")
        div(class="form-group")
            input(type="text" class="form-control" id="Prénom"  placeholder="Entrez votre prénom")
        div(class="form-group")
            input(type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Entrez votre adresse email")
        div(class="form-group")
            input(type="password" class="form-control" id="Password1" placeholder="Entrez votre mot de passe")
        div(class="form-group")
            input(type="password" class="form-control" id="Password2" placeholder="Retapez votre mot de passe")
        button(type="submit" class="btn btn-primary") Confirmer